@mixin photo($borderWidth, $borderStyle, $borderColor, $width, $marginLeft) {
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
  width: $width;
  margin-left: $marginLeft;
}

@mixin topContainers(
  $display,
  $flexDirection,
  $justifyContent,
  $width,
  $height,
  $marginLeft,
  $marginRight,
  $paddingTop
) {
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  width: $width;
  height: $height;
  margin-left: $marginLeft;
  margin-right: $marginRight;
  padding-top: $paddingTop;
}

.imageHelp {
  background-image: url("../../images/test2.png");
  background-image: url("../../../../backend/src/processImages/rice.jpeg");
  background-image: url("../../../../backend/src/processImages/tumor.jpeg");
  background-image: url("../../../../backend/src/processImages/tumor2.jpeg");
  background-image: url("../../../../backend/src/processImages/imageSegmentated.png");
  background-image: url("../../../../backend/src/processImages/brightnessEnh.png");
  background-image: url("../../../../backend/src/processImages/contrastEnh.png");
  background-image: url("../../../../backend/src/processImages/sharpnessEnh.png");
  background-image: url("../../../../backend/src/processImages/tumorDetected.png");
  display: block;
}

.file-input {
  font-weight: 600;
  font-size: 16px;
}

.main-page {
  position: relative;
  height: 1200px;
  background-color: #ff4343;

  .white_container {
    position: relative;
    top: 12px;
    margin-left: 91px;
    margin-right: 12px;
    background-color: #f0f0f0;
    border-radius: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #F39F9F;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    .navbar_text {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      margin-left: 50px;

      .navbar_text_first {
        font-family: "Inter";
        font-size: 40px;
        font-weight: 700;
        color: black;
      }

      .navbar_text_second {
        margin-left: 10px;
        font-family: "Inter";
        font-size: 40px;
        font-weight: 700;
        color: #DFFDDD;
      }
    }

    .navbar_exit-icon {
      margin-right: 50px;
    }
  }

  .main-page_top-part {
    display: flex;
    flex-direction: row;

    .main-page_menu-container {
      @include topContainers(
        flex,
        column,
        space-between,
        250px,
        auto,
        50px,
        0,
        50px
      );

      .menu-button {
        height: 60px;
        margin-top: 10px;
      }

      .enabledButton {
        height: 60px;
        margin-top: 10px;
      }

      .disabledButton {
        height: 60px;
        margin-top: 10px;
        color: black;
        background-color: grey;
      }
    }

    .main-page_photo-container {
      @include topContainers(
        flex,
        row,
        space-between,
        100%,
        300px,
        80px,
        100px,
        50px
      );

      .placehorder_text {
        font-family: "Inter";
        font-size: 30px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
      }

      .title-and-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;

        .image-title {
          font-family: "Inter";
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .photoDisplayed {
          width: 250px;
          height: 250px;
          margin-right: 50px;
        }
      }
    }
  }

  .main-page_bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;

    .parameters-containter {
      width: 100%;

      .inputs_and_button {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .inputs_containers {
          display: flex;
          flex-direction: column;
          width: 600px;
          justify-content: space-between;
          align-items: center;

          .parameter_row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 20px;
          }
        }

        .changeBrightnessContrastButton {
          margin-right: 100px;
        }
      }
    }

    .bottom_containers {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;

      .left_container {
        display: flex;
        flex-direction: column;

        .disabledResultButton {
          background-color: grey;
          margin-top: 50px;
          margin-right: 50px;
        }

        .enabledFinalButton {
          background-color: #F39F9F;
          margin-top: 50px;
          margin-right: 50px;
        }

        .title-and-photo-resulted {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .image-title {
            font-family: "Inter";
            font-size: 16px;
            font-weight: 12px;
            margin-bottom: 10px;
          }

          .resultedImageDisplayed {
            width: 200px;
            height: 200px;
          }
        }
      }

      .right_container {
        .disabledResultButton {
          background-color: grey;
          margin-top: 50px;
          margin-left: 50px;
        }

        .enabledResultButton {
          background-color: #F39F9F;
          margin-top: 50px;
          margin-left: 50px;
        }

        .result_container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 100%;

          .result_title {
            display: flex;
            align-items: center;
            font-family: "Inter";
            font-size: 20px;
            font-weight: 600;
            margin-left: 30px;
          }

          .positive_result {
            display: flex;
            align-items: center;
            font-family: "Inter";
            font-size: 20px;
            font-weight: 600;
            color: red;
            margin-left: 20px;
          }

          .negative_result {
            display: flex;
            align-items: center;
            font-family: "Inter";
            font-size: 20px;
            font-weight: 600;
            color: green;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
