@mixin photo($borderWidth, $borderStyle, $borderColor, $width, $marginLeft) {
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
  width: $width;
  margin-left: $marginLeft;
}

@mixin topContainers(
  $display,
  $flexDirection,
  $justifyContent,
  $width,
  $height,
  $marginLeft,
  $marginRight,
  $paddingTop
) {
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  width: $width;
  height: $height;
  margin-left: $marginLeft;
  margin-right: $marginRight;
  padding-top: $paddingTop;
}

.imageHelp {
  background-image: url("../../images/test2.png");
  background-image: url("../../images/rice.jpeg");
  background-image: url("../../../../backend/src/processImages/tumor.jpeg");
  background-image: url("../../../../backend/src/processImages/tumor2.jpeg");
  background-image: url("../../../../backend/src/processImages/imageSegmentated.png");
  background-image: url("../../../../backend/src/processImages/brightnessEnh.png");
  background-image: url("../../../../backend/src/processImages/contrastEnh.png");
  background-image: url("../../../../backend/src/processImages/sharpnessEnh.png");
  background-image: url("../../../../backend/src/processImages/tumorDetected.png");
  display: block;
}

.file-input {
  font-weight: 600;
  font-size: 16px;
}

.main-page {
  height: 100%;
  width: 100%;
  background-image: url("../../images/main-page.png");

  .main-page_top-part {
    display: flex;
    flex-direction: row;

    .main-page_menu-container {
      @include topContainers(
        flex,
        column,
        space-between,
        250px,
        auto,
        100px,
        0,
        50px
      );

      .menu-button {
        height: 60px;
        margin-top: 10px;
      }
    }

    .main-page_photo-container {
      @include topContainers(
        flex,
        row,
        space-between,
        1000px,
        300px,
        80px,
        100px,
        50px
      );

      .imageContainer {
        @include photo(1px, solid, black, 100%, 30px);
        margin-top: 50px;
      }

      .title-and-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;

        .image-title {
          font-family: "Inter";
          font-size: 16px;
          font-weight: 12px;
          margin-bottom: 10px;
        }

        .photoDisplayed {
          width: 300px;
          height: 300px;
          margin-right: 50px;
        }
      }
    }
  }

  .main-page_bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;

    .parameters-containter {
      width: 100%;
    }

    .result-button {
      margin-top: 50px;
    }
  }

  .result_container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  .result_title {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
  }

  .positive_result {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    color: red;
    margin-left: 20px;
  }

  .negative_result {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    color: green;
    margin-left: 20px;
  }
}
