<div class="main-page">
  <div class="main-page_top-part">
    <div class="main-page_menu-container">
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <button
        [ngClass]="{ enabledButton: !isDisabled, disabledButton: isDisabled }"
        [disabled]="isDisabled"
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="imageSegmentation(originalImagePath)"
      >
        Image Segmentation
      </button>
      <button
        [ngClass]="{ enabledButton: !isDisabled, disabledButton: isDisabled }"
        [disabled]="isDisabled"
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="brightnessEnhancement(originalImagePath, brightness, contrast)"
      >
        Brightness & Contrast Enhancement
      </button>
      <button
        [ngClass]="{ enabledButton: !isDisabled, disabledButton: isDisabled }"
        [disabled]="isDisabled"
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="sharpnessEnhancement(originalImagePath)"
      >
        Sharpness Enhancement
      </button>
      <button
        [ngClass]="{ enabledButton: !isDisabled, disabledButton: isDisabled }"
        [disabled]="isDisabled"
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="resetButton()"
      >
        Reset
      </button>
      <button
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="exitButton()"
      >
        Exit
      </button>
    </div>

    <div class="main-page_photo-container">
      <div *ngIf="originalImagePath === ''" class="imageContainer">photo1</div>

      <div *ngIf="originalImagePath !== ''" class="title-and-photo">
        <div class="image-title">Original image:</div>
        <img src="{{ originalImagePath }}" class="photoDisplayed" />
      </div>

      <div
        *ngIf="imageSegmentationPath === '' && imgBrightnessEnhPath === ''"
        class="imageContainer"
      >
        photo2
      </div>

      <div *ngIf="imageSegmentationPath !== ''" class="title-and-photo">
        <div class="image-title">Image after segmentation process:</div>
        <img src="{{ imageSegmentationPath }}" class="photoDisplayed" />
      </div>

      <div
        *ngIf="imgBrightnessEnhPath !== '' && imgSharpnessEnhPath === ''"
        class="title-and-photo"
      >
        <div class="image-title">
          Image after brightness and contrast enhancement:
        </div>
        <img src="{{ imgBrightnessEnhPath }}" class="photoDisplayed" />
      </div>
      <div
        *ngIf="imgSharpnessEnhPath !== '' && imgBrightnessEnhPath === ''"
        class="title-and-photo"
      >
        <div class="image-title">
          Image after sharpness enhancement process:
        </div>
        <img src="{{ imgSharpnessEnhPath }}" class="photoDisplayed" />
      </div>
    </div>
  </div>

  <div class="main-page_bottom-part">
    <div class="parameters-containter">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Parameters </mat-panel-title>
            <mat-panel-description>
              Click here to see the parameter values
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="parameter_row">
            <div>Brightness</div>
            <input matInput placeholder="50" value="50" #brightnessValue/>
            <button mat-stroked-button (click)="changeBrightnessValue()">Change</button>
          </div>
          <div class="parameter_row">
            <div>Contrast</div>
            <input matInput placeholder="1.5" value="1.5" #contrastValue class="second-input"/>
            <button mat-stroked-button (click)="changeContrastValue()">Change</button>
          </div>
          <!-- <p>Entropy</p>
          <p>IDM</p>
          <p>Dissimilarity</p> -->
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <button
      [ngClass]="{ enabledButton: !isDisabled, disabledButton: isDisabled }"
      [disabled]="isDisabled"
      mat-raised-button
      color="warn"
      class="result-button"
      (click)="showResults()"
    >
      Show result
    </button>
    <div class="result_container">
      <div class="result_title">RESULT:</div>
      <div
        *ngIf="hasTumor == true && resultButtonClicked == true"
        class="positive_result"
      >
        tumor detected
      </div>
      <div
        *ngIf="hasTumor == false && resultButtonClicked == true"
        class="negative_result"
      >
        tumor is not detected
      </div>
    </div>
  </div>
</div>
