<div class="main-page">
  <div class="main-page_top-part">
    <div class="main-page_menu-container">
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <button
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="imageSegmentation($event)"
      >
        Image Segmentation
      </button>
      <button
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="brightnessEnhancement($event)"
      >
        Brightness & Contrast Enhancement
      </button>
      <button
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="sharpnessEnhancement($event)"
      >
        Sharpness Enhancement
      </button>
      <button
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="tumorDetection($event)"
      >
        Tumor Detection
      </button>
      <button
        mat-raised-button
        color="accent"
        class="menu-button"
        (click)="resetButton()"
      >
        Reset
      </button>
      <button mat-raised-button color="accent" class="menu-button" (click)="exitButton()">Exit</button>
    </div>

    <div class="main-page_photo-container">
      <div *ngIf="originalImagePath === ''" class="imageContainer">photo1</div>

      <div *ngIf="originalImagePath !== ''" class="title-and-photo">
        <div class="image-title">Original image:</div>
        <img src="{{ originalImagePath }}" class="photoDisplayed" />
      </div>

      <div
        *ngIf="imageSegmentationPath === '' && imgBrightnessEnhPath === '' && imgTumorDetectedPath === ''"
        class="imageContainer"
      >
        photo2
      </div>

      <div *ngIf="imageSegmentationPath !== ''" class="title-and-photo">
        <div class="image-title">Image after segmentation process:</div>
        <img src="{{ imageSegmentationPath }}" class="photoDisplayed" />
      </div>

      <div
        *ngIf="imgBrightnessEnhPath !== '' && imgSharpnessEnhPath === ''"
        class="title-and-photo"
      >
        <div class="image-title">
          Image after brightness enhancement process:
        </div>
        <img src="{{ imgBrightnessEnhPath }}" class="photoDisplayed" />
      </div>
      <div
        *ngIf="imgSharpnessEnhPath !== '' && imgBrightnessEnhPath === ''"
        class="title-and-photo"
      >
        <div class="image-title">
          Image after sharpness enhancement process:
        </div>
        <img src="{{ imgSharpnessEnhPath }}" class="photoDisplayed" />
      </div>

      <div
        *ngIf="imgTumorDetectedPath !== '' && imgBrightnessEnhPath === '' && imageSegmentationPath === ''"
        class="title-and-photo"
      >
        <div class="image-title">
          Tumor detected:
        </div>
        <img src="{{ imgTumorDetectedPath }}" class="photoDisplayed" />
      </div>
    </div>
  </div>

  <div class="main-page_bottom-part">
    <div class="parameters-containter">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Parameters </mat-panel-title>
            <mat-panel-description>
              Click here to see the parameter values
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Contrast</p>
          <p>Entropy</p>
          <p>IDM</p>
          <p>Dissimilarity</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <button mat-raised-button color="warn" class="result-button">
      Show result
    </button>
  </div>
</div>
