@import "../../typography.scss";

@mixin input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.login-page-main-component {
  height: 100%;
  width: 100%;
  background-image: url("../../images/background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .login-page_description-container {
    width: 700px;
    height: 400px;
    margin-left: 50px;

    .login-page_title {
      font-family: "Inter";
      font-size: 80px;
      font-weight: 700;
      color: #dffddd;
    }

    .login-page_description-text {
      margin-top: 30px;
      font-family: "Inter";
      font-size: 20px;
      font-weight: 400;
      color: white;
    }

    .login_button {
      margin-top: 40px;
      width: 100px;
      height: 50px;
      font-size: 16px;
      background-color: red;
    }
  }

  .login-page-input-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(247, 231, 231);
    border-radius: 10px;
    margin-top: 230px;
    padding: 30px;
  }
}

.login-page-error-message {
  color: red;
  margin-top: 20px;
}

.login-page-first-input-container {
  @include input-container();
  margin-top: 30px;
}

.login-page-second-input-container {
  @include input-container();
  margin-top: 10px;
}

.login-page-input {
  width: 100%;
}

input {
  height: 22px;
  margin-left: 17px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: red;
}

.login-page-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  opacity: 1;

  .login-page-button {
    background-color: red;
  }
}
