<div class="login-page-main-component">
  <div class="login-page_description-container">
    <div class="login-page_title">MediScan</div>
    <div class="login-page_description-text">
      Using advanced algorithms for processing and analyzing medical images,
      this app enables you to easily view and interpret such images with
      precision and accuracy
    </div>
    <button
      mat-raised-button
      *ngIf="loginButtonClicked == false"
      class="login_button"
      (click)="loginButton()"
    >
      Login
    </button>
  </div>
  <div *ngIf="loginButtonClicked === true" class="login-page-input-container">
    <form>
      <div *ngIf="authFailed === true" class="login-page-error-message">
        Incorrect username or password
      </div>

      <div class="login-page-first-input-container">
        <mat-form-field appearance="fill" class="login-page-input">
          <mat-label>Username</mat-label>
          <input matInput #username />
        </mat-form-field>
      </div>

      <div class="login-page-second-input-container">
        <mat-form-field appearance="fill" class="login-page-input">
          <mat-label>Password</mat-label>
          <input matInput #password type="password" />
        </mat-form-field>
      </div>
    </form>
    <div class="login-page-button-container">
      <button
        mat-flat-button
        class="login-page-button"
        (click)="login(username.value, password.value)"
      >
        Login
      </button>
    </div>
  </div>
</div>
